@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  --cursor-color: #ffffff;
  --cursor-color-outer: #ffffff93;
}

::selection {
  background-color: #fcfcfc;
  color: #000;
}

@keyframes wave {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
/* 
.dot-animation {
  animation: wave 1s ease-in-out infinite alternate;
} */
